{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'boarding_page/style.css' %}">
    <script>
        function scrollToSubmitButton() {
          document.getElementById("submit-btn").scrollIntoView();
        }
    </script>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Logged as {{ user.username }}</h1>

    <a href="logout">
        <button class="submit-btn">
            Log out
        </button>
    </a>

{#        flight_data_start#}
        <table class="data-info-table th">
            <tr>
                {% for property in data_info %}
                    <th>{{ property }}</th>
                {% endfor %}
            </tr>
                {% for property_data in data %}
                    <td>{{ property_data }}</td>
                {% endfor %}

        </table>
{#        flight_data_end#}
    <div style="text-align: center; padding-top: 30px; padding-bottom: 80px">
    {% if boarding_status == "Not started" %}
        <form action="" method="post">
         {% csrf_token %}
            <button class="submit-btn" type="submit" name="start_boarding">
                Start boarding
            </button>
        </form>
    {% elif boarding_status == "Started" %}
        <form action="" method="post">
         {% csrf_token %}
            <button class="submit-btn" type="submit" name="end_boarding">
                End boarding
            </button>
        </form>
    {% endif %}
    </div>

    <form action="" method="post">
     {% csrf_token %}
    <table class="main-table">
        <tr>
            {% for property in header %}
                <th>{{ property }}</th>
            {% endfor %}
        </tr>
        {% for passenger, index in rows %}
            <tr>
                {% for property in passenger %}
                    {% if property == 'False' %}
                        <td>
                            <label for="l_box1">
                                <input type="radio" name="resently_boarded" onclick="scrollToSubmitButton()" value="{{ index }}">
                            </label>
                        </td>
                    {% else %}
                        <td>{{ property }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
        {% if boarding_status == "Started" %}
        <button id="submit-btn" class="submit-btn" type="submit">
            Submit
        </button>
        {% endif %}
    </form>
    {% else %}
    <h1>Access forbidden! Please log in bro</h1>
    {% endif %}
</body>
</html>