{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'boarding_page/style.css' %}">
    <link rel="stylesheet" href="{% static 'general/style.css' %}">
    <style>
        .submit-btn {
            transition-duration: 0.4s;
            background-color: #3a3a75;
            color: white;
            border-radius: 5px;
            padding: 10px 10px;
            border: none;
            font-weight: bold;
        }

        .submit-btn:hover {
            background-color: red;
            color: white;
            border: 1px solid #4A4A4A;
        }
    </style>
    <script>
        function scrollToSubmitButton() {
            document.getElementById("submit-btn").scrollIntoView();
        }
    </script>
</head>
<body>
{% if user.is_authenticated %}
    <header>
        <h4 class="time menu_item" id="time"></h4>

        <h4 class="menu_item">Logged as {{ user.username }}</h4>

        <a href="logout" class="menu_item">
            <button class="btn">
                Log out
            </button>
        </a>
    </header>

    {% for message in messages %}
        <div class="message_box">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
    {#        flight_data_start#}
    <table class="data-info-table th">
        <tr>
            {% for property in data_info %}
                <th>{{ property }}</th>
            {% endfor %}
        </tr>
        {% for property_data in data %}
            <td>{{ property_data }}</td>
        {% endfor %}

    </table>
    {#        flight_data_end#}
    <div style="text-align: center; padding-top: 30px; padding-bottom: 30px">
        {% if boarding_status == "Not started" %}
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn" type="submit" name="start_boarding">
                    Start boarding
                </button>
            </form>
        {% elif boarding_status == "Started" %}
            <form action="" method="post">
                {% csrf_token %}
                <button class="submit-btn" type="submit" name="end_boarding">
                    End boarding
                </button>
            </form>
        {% else  %}
            <div class="message_box">
                <h3>Boarding has ended</h3>
            </div>
        {% endif %}
    </div>

    <form action="" method="post">
        {% csrf_token %}

        <table class="main-table">
            <tr>
                {% for property in header %}
                    <th>{{ property }}</th>
                {% endfor %}
            </tr>
            {% for passenger, index in rows %}
                <tr>
                    {% for property in passenger %}
                        {% if property == 'False' %}
                            <td>
                                <label for="l_box1">
                                    <input type="radio" name="resently_boarded" onclick="scrollToSubmitButton()" value="{{ index }}">
                                </label>
                            </td>
                        {% else %}
                            <td>{{ property }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>


        {% if boarding_status == "Started" %}
            <div style="text-align: center;padding-top:30px; padding-bottom: 30px">
                <button id="submit-btn" class="btn" type="submit">
                    Board passenger
                </button>
            </div>
        {% endif %}
    </form>
{% else %}
    <h1>Access forbidden! Please log in bro</h1>
{% endif %}

<script>
    function updateClock() {
        let now = new Date()
        let months = ['January', 'February', 'March', 'April',
            'May', 'June', 'July', 'August', 'September',
            'October', 'November', 'December'];
        let time = now.getHours() + ':' + now.getMinutes() + ":" + now.getSeconds()

        let date = [now.getDate(),
            months[now.getMonth()],
            now.getFullYear()].join(' ');

        document.getElementById('time').innerHTML = [date, time].join(' / ');

        setTimeout(updateClock, 1000);
    }
    updateClock(); // initial call
</script>
</body>
</html>