{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'general/style.css' %}">
    <link rel="stylesheet" href="{% static 'flight_list_page/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if user.is_authenticated %}

        <header>
        <h4 class="time menu_item" id="time"></h4>

        <h4 class="menu_item">Logged as {{ user.username }}</h4>

        <a href="logout" class="menu_item">
            <button class="btn">
                Log out
            </button>
        </a>
        </header>

        <div class="flight_list">
            {% for flight_name, number_of_flight, destination, departure_date, departure_time, boarding_state in flights %}
                <a href="{{ number_of_flight }}" style="text-decoration: none">
                <div class="flight_row">
                    <div class="flight_row_header">
                        <h2>{{ departure_date }}</h2>
                        <h2>{{ departure_time }}</h2>
                    </div>
                    <div class="flight_row_content">
                        <div class="flight_row_content_left">
                            <h2>Flight: {{ number_of_flight }}</h2>
                        </div>
                        <div class="flight_row_content_right">
                            <h2>Destination: {{ destination }}</h2>
                            <h2>Boarding: {{ boarding_state }}</h2>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h1>Access forbidden! Please log in bro</h1>
    {%  endif %}

<script>
    function updateClock() {
        let now = new Date()
        let months = ['January', 'February', 'March', 'April',
            'May', 'June', 'July', 'August', 'September',
            'October', 'November', 'December'];
        let time = now.getHours() + ':' + now.getMinutes() + ":" + now.getSeconds()

        let date = [now.getDate(),
                    months[now.getMonth()],
                    now.getFullYear()].join(' ');

        document.getElementById('time').innerHTML = [date, time].join(' / ');

        setTimeout(updateClock, 1000);
    }
    updateClock(); // initial call
</script>
</body>
</html>