{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'login_page/style.css' %}">
    </head>
    <body>
        {% if user.is_authenticated %}
            <h1>You are logged as {{ user }}</h1>
            <h2>Continue or log out</h2>
            <a href="boarding">
                <button>Continue as {{ user }}</button>
            </a>
            <a href="boarding/logout">
                <button>Log out</button>
            </a>
        {% else %}
            <div id="title">Cracow International Airport</div>
            <div id="airplane_img"><img src="{% static 'login_page/airplane2.png' %}"></div>
            {% for message in messages %}
                <h3>{{ message }}</h3>
                <script type="text/javascript">
                   window.onload = function() {
                       document.getElementById("container").style.paddingTop = "105px";
                       console.log(document.getElementById('container'));
                   }
                </script>
            {% endfor %}
            <div id="container">
                <form action="login" method="POST" >
                    <div class="form-field">
                        <input type="text" name="username" placeholder="Username" required />
                    </div>
                    <div class="form-field">
                        <input type="password" name="password" autocomplete="do-not-autofill" placeholder="Password" required /><br>
                    </div>
                    <div class="form-field">
                        <button class="btn" type="submit">Log in</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>

        {% endif %}
    </body>
</html>
