{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'login_page/style.css' %}">
    </head>
    <body>
        {% if user.is_authenticated %}
                <h1 id="title">You are logged as {{ user }}</h1>
{#                <h2 id="title">Continue or log out</h2>#}
            <div class="center">
                <div style="padding-right: 700px">
                    <a href="boarding">
                        <button class="continue_log_out_btns">Continue as {{ user }}</button>
                    </a>
                </div>
                <div style="padding-left: 400px">
                <a href="boarding/logout">
                    <button class="continue_log_out_btns">Log out</button>
                </a>
                </div>
            </div>
        {% else %}
            <div id="title">Cracow Airport</div>
            <div id="airplane_div">
                <img id="airplane_img" src="{% static 'login_page/airplane2.png' %}">
            </div>

            {% for message in messages %}
                <div id="message_box">
                <h3>{{ message }}</h3>
                <script type="text/javascript">
                   window.onload = function() {
                       document.getElementById("airplane_div").style.paddingBottom = "140px";
                       console.log(document.getElementById('container'));
                   }
                </script>
                </div>
            {% endfor %}
            <div id="container">
                <form action="login" method="POST" >
                    <div class="form-field">
                        <input type="text" name="username" placeholder="Username" required />
                    </div>
                    <div class="form-field">
                        <input type="password" name="password" autocomplete="do-not-autofill" placeholder="Password" required /><br>
                    </div>
                    <div class="form-field">
                        <button class="btn" type="submit">Log in</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>

        {% endif %}
    </body>
</html>
